@import "../node_modules/bootstrap/scss/bootstrap";

$color1: #3c01c4;
$color2: #7116e9;
$color3: #b50772;
$color4: #0482bc;

header {
  border-radius: 60px;
  margin-top: 10px;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

li a {
  color: white;
  margin: 0px 10px;
}

li:hover {
  background-color: #fff;
  border-radius: 60px;
  color: $color1;
}

.nav-link a:active {
  background-color: #fff;
  color: #fff;
}

.gradient-background {
  background: linear-gradient(-45deg, $color1, $color2, $color3,  $color4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 6vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}